<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu side="left" is-enabled="true">
    <div class="list">
      <a class="item item-icon-left" ng-repeat="menu in sidebar.menus" ng-click="sidebar.showOption('{{menu.state}}')">
        <i class="icon {{menu.icon}}"></i>
        {{menu.name}}
      </a>
    </div>
  </ion-side-menu>

  <ion-side-menu-content>
    <div class="bar bar-header bar-positive">
      <h1 class="title">uapp</h1>
    </div>
    <ion-nav-view name="page" id="pageContent"></ion-nav-view>
  </ion-side-menu-content>
</ion-side-menus>