.ionic.login{
  background: url('../img/mountains.jpg') no-repeat;
}

ion-content#login{
  overflow-y: hidden;
}

/* Login template */
.ionic.login{
  background-position: 25% 25%;
  background-size: 180% 180%;
  height: 100%;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.ionic.login .item{
  margin: 0 12px;
  padding-left: 0;
  padding-right: 0;
  width: initial;
}

.ionic .icon.hero-icon:before{
  line-height: 130px;
  vertical-align: top;
}

.ionic .hero .hero-icon{
  box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  display: inline-block;
  font-size: 65px;
  height: 150px;
  padding: 10px 30px;
  line-height: 136px;
  width: 150px;
}

/* Hero */

.ionic .hero.no-header{
  height: 244px;
}

.ionic .hero > .content{
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.ionic .hero .hero-icon{
  color: #fff;
  font-size: 96px;
}

.ionic .hero .hero-icon + h1{
  color: rgb(255, 255, 255);
  letter-spacing: 0.15rem;
}

.ionic .hero{
  -moz-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.ionic .list .item{
  border: none;
  text-align: left;
}

.item-md-label{
  display: block;
  background: transparent;
  box-shadow: none;
  margin-left: 12px;
  margin-right: 12px;
  padding: 30px 0 0;
}

.item-md-label .input-label{
  position: absolute;
  padding: 5px 0 0;
  z-index: 2;
  -webkit-transform: translate3d(0, -30px, 0) scale(1);
  transform: translate3d(0, -30px, 0) scale(1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #fff;
  opacity: 0.5;
  transform-origin: 0;
}

.ionic .item-md-label input{
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  color: #fff;
  letter-spacing: 0.25rem;
  padding: 20px 10px;
  position: relative;
  z-index: 1;
}

.item-md-label .input-label{
  letter-spacing: 0.25rem;
  padding: 0 10px;
}

.item-md-label input:focus ~ .input-label, .item-md-label input.used ~ .input-label{
  font-weight: bold;
  opacity: 0.7;
  padding: 0;
  text-transform: uppercase;
  -webkit-transform: translate3d(0, -60px, 0) scale(0.9);
  transform: translate3d(0, -60px, 0) scale(0.9);
}

.item-md-label input:focus ~ .highlight{
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}